<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Digital Marketing  Services</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900%7COpen+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic%7CLora:400,400italic,700,700italic%7CRoboto+Slab:400,700,300%7CKarla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link href="assets/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<link href="assets/css/settings.css" type="text/css" rel="stylesheet" media="screen">
		<link href="assets/css/layers.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.less" media="screen">
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<![endif]-->
</head>
<body data-ng-app="websiteApp" data-ng-controller="FormController">
		<!-- loader -->
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<!--Header Section Start-->
			<header id="header" class="header-three">
				<div class="primary_header">
					<div class="container">
						<div class="row">
							<div class="col-xs-8 col-sm-4 logo-wrap-three">
								<a href="index.html" class="logo-three"><img src="assets/images/header-logo_3.png" alt="logo-three" /></a>
								<a href="tel:+91-40-43461495" class="calling"><span aria-hidden="true" class="icon-call-out"></span>+91-4043461495</a>

							</div>

							<div class="col-xs-4 col-sm-8 menu-section">
								<nav class="navbar navbar-default">

									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
										<ul class="nav navbar-nav">
											<li>
												<a href="index.html">Home </a>
												
											</li>
											<li >
												<a href="about_us.html"> About us </a>
											</li>
											<li class="active">
												<a href="services.html"> services </a>
													
												
											</li>
											
											<li >
												<a href="contact_us.html"> Contact Us </a>
												
											</li>
										</ul>

									</div><!-- /.navbar-collapse -->

								</nav>

							</div>

						</div>

					</div>

				</div>

			</header>
<!--Header Section End-->
			<!-- 404 banner start here -->

			<section class="banner-service header-three-margin"></section>

				<div class="row service-row">
							<div class="col-xs-12 col-sm-3 ">
								<img src="assets/DIGITAL MARKETING.jpg" alt="Tech Support" />
								

							</div>

							<div class="col-xs-12 col-sm-9 service-main-content">
								<h6>Digital Marketing  Services</h6>
								<p>
									Tecmend  has proven expertise in Digital Marketing is one of the most cost - efficient marketing methods used for content syndication and increased visibility of your business. The implementation of a Digital Marketing strategy will greatly enhance your brand recognition as you engage a large consumer audience.<br>
									Without marketing your social media business, your traffic is restricted to your usual customers. Those familiar with your brand are probably looking for the same keywords that you already ran for. Without using Digital marketing  as part of your marketing strategy, you will find it harder to reach someone outside your loyal customer circle.<br>
									Any digital marketing  profile that you add to your marketing mix is a gateway to your website, and any content you post is another opportunity to acquire a new
								</p>

								

							</div>

							

						</div>







						<footer id="footer" class="footer-two">

				<div class="container">
					<div class="row">
						<div class="col-sm-2 col-xs-12 foot-main-part">
							<a href="#" class="footer-logo"><img src="assets/images/finallogo-final.png" alt="" /></a>
							<span>2018 ©</span>
							<ul class="footer-social-links clearfix">
								<li>
									<a href="#" class="fa fa-facebook"></a>
								</li>
								<li>
									<a href="#" class="fa fa-google-plus"></a>
								</li>
								<li>
									<a href="#" class="fa fa-twitter"> </a>
								</li>
								<li>
									<a href="#" class="fa fa-linkedin"> </a>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-2 col-sm-offset-2">
							<h5> Navigation</h5>
							<ul class="foot-nav">
										<li>
											<a href="index.html"><i class="fa fa-caret-right"> </i>home</a>
										</li>
											<li>
											<a href="about_us.html"><i class="fa fa-caret-right"> </i>about us</a>
										</li>
											<li>
											<a href="services.html"><i class="fa fa-caret-right"> </i>services</a>
										</li>
											<li>
											<a href="contact_us.html"><i class="fa fa-caret-right"> </i>contact us</a>
										</li>
										
									</ul>

						</div>
						<div class=" col-xs-12 col-sm-5 col-sm-offset-1">
							<div style="display: none" id="footerSuccess"> I will get back to you soon</div>
							<h5> Quick contact us</h5>
							<div class="foot-contact-form">
								<form method="post" name="footerContactForm" novalidate id="footercontact">
								<input type="text" class="form-control" placeholder="Name*" id="f-name" name="name" data-ng-model="footerformData.name" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : footerContactForm.name.$error.pattern || footerContactForm.$submitted && footerContactForm.name.$invalid && successStatus}"/>
								<input type="email" class="form-control email"  placeholder="Email*" id="f-email" name="email" data-ng-model="footerformData.email" required="" data-ng-pattern = "^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$" data-ng-class="{'error' : footerContactForm.email.$error.pattern || footerContactForm.$submitted && footerContactForm.email.$invalid && successStatus}">
								<textarea class="form-control" placeholder="comment*" name="textarea" id="f-text" data-ng-model="footerformData.message" required data-ng-class="{'error' : footerContactForm.textarea.$error.required && footerContactForm.textarea.$blured || footerContactForm.$submitted && footerContactForm.textarea.$invalid && successStatus}"></textarea>
								<button type="submit" class="btn btn-default btn-submit" data-ng-click = "submitfooterForm(footerContactForm.$invalid)">
									submit now
								</button>
								</form>
								
							</div>

						</div>

					</div>

				</div>

			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<!-- revolution Js -->
		<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<!-- revolution Js -->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>
		<script src="assets/js/app.js"></script>
		
	</body>
</html>